<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd
     http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
   

	<context:commponent-scan base-package="com.atguigu.activemq" />
	<bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="tcp://192.168.17.3:61616"></property>
			</bean>
		</property>
		<property name="maxConnections" value="100"></property>
	</bean>

	<!-- 队列目的地 -->
	<bean id="destinationQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="spring-active-queue"></constructor-arg>
	</bean>
	
<!-- 主题目的地 -->
	<bean id="destinationTopic" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg index="0" value="spring-active-topic"></constructor-arg>
	</bean>

	<!-- jms 的工具类 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsFactory" />
		<property name="defaultDestination" ref="destinationTopic" /><!-- 目的地，是生产队列还是主题看这个  引用队列：ref="destinationQueue"  引用主题： ref="destinationTopic"-->
		<property name="messageConverter">
			<bean class="org.springframework.jms.support.converter.SimpleMessageConverter" />
		</property>
	</bean>
	
	
	<!--配置监听程序  -->
	<bean id="jmsContainer" class="org.springframwork.jms.listener.DefaultMessageListenerContainer">
	<property name="connectionFactory" ref="jmsFactory"></property>
	<property name="destination" ref="destinationTopic"></property><!-- 监听主题 -->
	<property name="messageListener" ref="myMessageListener"></property>
	</bean>
</beans>
